#cabecera{
    background-color: #eff1f1;
    PADDING: 80 PX;
    COLOR: #07bbf1;
}
#menu{
    background-color: #0fdae9;
    padding: 70 PX;
margin-bottom: 10 PX;
}
a.item_menu{
    color:white;
text-decoration:none;
padding-top:10px;
padding-bottom:10px;
padding-left: 5px;
padding-right: 5px;
}
a.item-menu:hover{
    background-color: #2a8de4;
}